<div class="flex flex-col md:pl-4 gap-2">
    <h1>Friends!</h1>

    <ul>
        @for (friend of friends; track friend.name) {
            <li>
                <a target="_blank" class="inline-block" [href]="friend.url">
                    <img
                        class="block"
                        width="88"
                        height="31"
                        [ngSrc]="friend.img"
                        [alt]="friend.name"
                        [attr.mouse-effect-color]="friend.mouseEffectColor"
                    />
                </a>
            </li>
        }
    </ul>
</div>
