<div class="flex flex-col md:flex-row">
    <div>
        <h1 class="mb-2">Languages</h1>

        <ul class="pl-2">
            @for (lang of languages; track lang.id) {
                <li>
                    <div class="flex gap-2 items-center">
                        <img
                            [src]="getLanguageLogo(lang.id)"
                            [alt]="lang.name"
                            [attr.style]="
                                lang.filter ? `filter: ${lang.filter}` : null
                            "
                            class="h-4 aspect-square"
                        />

                        <p>{{ lang.name }}</p>
                    </div>
                </li>
            }
            <li>...and more!</li>
        </ul>
    </div>
</div>
