<div>
    <h1>Projects</h1>

    <ul class="pl-2">
        @for (proj of githubProjects(); track proj.name) {
            <li>
                <div class="flex gap-2 items-center">
                    <img
                        [src]="getLanguageLogo(proj.language.toLowerCase())"
                        [alt]="proj.language"
                        class="h-4 aspect-square"
                    />

                    <a
                        href="https://github.com/incohesions/{{ proj.name }}"
                        target="_blank"
                    >
                        {{ proj.name }}
                    </a>
                </div>
            </li>
        }
    </ul>
</div>
