@keyframes splash {
    0% {
        transform: translate(calc(50% - 2rem), -1rem) rotate(-45deg) scale(1);
    }
    50% {
        transform: translate(calc(50% - 2rem), -1rem) rotate(-45deg)
            scale(1.175);
    }
    100% {
        transform: translate(calc(50% - 2rem), -1rem) rotate(-45deg) scale(1);
    }
}

.splash-text {
    animation: splash 1s infinite;
    color: rgb(255, 255, 85);
    font-family: "Mojangles", Arial, sans-serif;
    pointer-events: none;
    text-align: center;
    text-shadow: 2px 2px 0px black;
    transform-origin: center;
    user-select: none;
}
