<div class="flex flex-1 flex-wrap min-w-0 gap-4">
    <div class="flex flex-wrap flex-col md:flex-row md:justify-center gap-4">
        <div class="flex flex-wrap gap-4">
            <div class="flex flex-col gap-4">
                <div class="relative max-w-40 sm:max-md:left-1/2">
                    <div class="p-0.5 border-2 rounded-lg">
                        <img
                            src="./favicon.ico"
                            alt="Profile Picture"
                            class="min-w-full aspect-square rounded-md"
                        />
                    </div>

                    @defer {
                        <span
                            class="absolute bottom-0 right-0 whitespace-nowrap splash-text"
                        >
                            {{ splash() }}
                        </span>
                    }
                </div>

                <links />

                <friends />
            </div>

            <div>
                <h1 class="lg:mb-2">iNCOHESiONS (mari/cohe)</h1>

                <ul class="pl-2">
                    <li>Programmer (mostly Web Development)</li>
                    <li>Employed (surprisingly)</li>
                    <li>Transgender</li>
                    <li>Brazilian</li>
                    <li>Bisexual</li>
                    <li>Bilingual (pt-br/en)</li>
                    <li>Bipedal</li>
                </ul>

                @if (!isMobile()) {
                    @defer {
                        <div>
                            <spinning-fish />
                        </div>
                    }
                }
            </div>
        </div>

        <div class="flex flex-wrap gap-16">
            @defer {
                <projects />
            }

            <languages />
        </div>
    </div>

    @if (isMobile()) {
        @defer {
            <spinning-fish />
        }
    }
</div>
