<div class="flex flex-col md:flex-row">
    <div>
        <h1>Languages</h1>

        <ul class="pl-2">
            @for (lang of languages; track lang.id) {
                <li>
                    <div class="flex gap-2 items-center">
                        <programming-language-icon
                            [id]="lang.id"
                            [class.invert]="lang.invert"
                        />

                        <p>{{ lang.name }}</p>
                    </div>
                </li>
            }
            <li>...and more!</li>
        </ul>
    </div>
</div>
