@import "tailwindcss";

@font-face {
    font-family: "Mojangles";
    src: url("/fonts/mojangles.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

* {
    --bg-color: #f5f5f5;
    --text-color: #0d1017;
    --invert-icon: 0;

    font-family: "Inconsolata", monospace;
    font-size: 22pt;

    outline-color: var(--text-color);

    -webkit-user-drag: none;
    user-drag: none; /* future-proof */
}

@media (prefers-color-scheme: dark) {
    * {
        --bg-color: #0d1017;
        --text-color: #dff1ff;
        --invert-icon: 1;
    }
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;

    background-color: var(--bg-color);
    color: var(--text-color);
}

img {
    user-select: none;
}

a:hover {
    text-decoration: underline;
}

::selection {
    background-color: var(--text-color);
    color: var(--bg-color);
}
