<div class="flex flex-col md:pl-4 gap-2">
    <h1>Links!</h1>

    <ul>
        @for (link of links; track link.name) {
            <li>
                <a
                    target="_blank"
                    class="flex gap-2 items-center"
                    [href]="link.url"
                >
                    <img
                        width="20"
                        height="20"
                        class="h-4 aspect-square object-scale-down"
                        [ngSrc]="link.favicon"
                        [alt]="link.name"
                        [class.invert]="link.invert"
                    />
                    <span>{{ link.name }}</span>
                </a>
            </li>
        }
    </ul>
</div>
